{% extends "structure/main.html" %}

{% block content %}
	<div class="list-group col-md-4">
		<a href="{% url 'profile_settings' %}" title="Edycja profilu" class="list-group-item">Edycja profilu</a>
		<a href="{% url 'password_change' %}" title="Zmiana hasła" class="list-group-item">Zmiana hasła</a>
		<a href="{% url 'email_change' %}" title="Zmiana adresu email" class="list-group-item">Zmiana adresu email</a>
		<a href="{{ GRAVATAR_CHANGE_URL }}" title="Zmiana avataru na gravatar.com" target="_blank" class="list-group-item">Zmiana avataru na gravatar.com</a>
	</div>
{% endblock %}
