{% extends "structure/main.html" %}
{% load shared_filters %}
{% load widget_tweaks %}

{% block content %}

	{% include "accounts/account_settings_menu.html" %}

	<h1 class="text-center">{{ form.Meta.name }}</h1>
	<div class="row">
		<form method="post" action="" class="form-horizontal col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			{% csrf_token %}
			<fieldset>

				{{ form.dob|bootstrap }}
				{{ form.sex|bootstrap }}
				{{ form.height|bootstrap:"text|cm" }}

				{% include "snippets/submit_button.html" %}
			</fieldset>
		</form>
	</div>
{% endblock %}
