{% extends "structure/main.html" %}
{% load gravatar %}

{% block content %}
	{% if user_profile.username == request.user.username %}
		<a href="{{ GRAVATAR_CHANGE_URL }}"
			data-toggle="tooltip" data-placement="bottom" rel="tooltip"
			title="Zmień avatar na gravatar.com">
			{% gravatar_img_for_user user_profile %}
		</a>
	{% else %}
		{% gravatar_img_for_user user_profile %}
	{% endif %}

	<dl>
		<dt>Login:</dt>
		<dd>{{ user_profile.username }}</dd>
		<dt>Email:</dt>
		<dd>{{ user_profile.email }}</dd>
		<dt>Data urodzenia:</dt>
		<dd>{{ user_profile.profile.dob }}</dd>
		<dt>Wiek:</dt>
		<dd>{{ user_profile.profile.age }} lat</dd>
		<dt>Wzrost:</dt>
		<dd>{{ user_profile.profile.height }}</dd>
		<dt>Płeć:</dt>
		<dd>{{ user_profile.profile.sex_visible }}</dd>
	</dl>
{% endblock %}
