{% extends "structure/main.html" %}
{% load gravatar %}

{% block content %}

	<div class="col-md-3 col-sm-5">
		<div class="panel panel-default user-profile-panel">
			<div class="panel-heading text-bold">{{ object.username }}</div>
			<div class="panel-body">
				<div class="user-profile-avatar col-lg-12 col-md-12 col-sm-6">
					{% if object.username == request.user.username %}
						<a href="{{ GRAVATAR_CHANGE_URL }}"
							data-toggle="tooltip" data-placement="bottom" class="js-tooltip"
							title="Zmień avatar na gravatar.com" target="_blank">
							{% gravatar_img_for_user object %}
						</a>
					{% else %}
						{% gravatar_img_for_user object %}
					{% endif %}
				</div>

				<div class="user-info col-lg-12 col-md-12 col-sm-6">
					<ul>
						{% if object.profile.sex_visible %}
							<li>
								{{ object.profile.sex_visible }}{% if object.profile.age %},
									{{ object.profile.age }}&nbsp;lat
								{% endif %}
							</li>
						{% elif object.profile.age %}
							<li>Wiek: <strong>{{ object.profile.age }} lat</strong></li>
						{% endif %}
						{% if object.profile.height %}
							<li>Wzrost: <strong>{{ object.profile.height }} cm</strong></li>
						{% endif %}
						{% if object.profile.last_weight.0 %}
							<li>Waga: <strong>{{ object.profile.last_weight.0 }} kg</strong></li>
						{% endif %}
						{% if object.profile.bmi.0 %}
							<li>BMI: <strong>{{ object.profile.bmi.0 }}</strong></li>
						{% endif %}
						{% with object.profile.favourite_sport as favourite_sport %}
							{% if favourite_sport %}
								<li>Ulubiona dyscyplina: <strong>{{ favourite_sport }}</strong></li>
							{% endif %}
						{% endwith %}
					</ul>
				</div> {# user-info #}
			</div> {# panel-body #}
		</div> {# panel #}
	</div> {# cols #}

	<div class="col-md-9 col-sm-7">
		<div class="panel panel-default user-profile-activity">
			<div class="panel-heading text-bold">Aktywność użytkownika</div>
			<div class="panel-body">
				{% if not activities %}
					<div class="alert alert-info">
						Brak aktywności użytkownika
					</div>
				{% else %}
					<ul class="list-group">
						{% for activity in activities %}
							<li class="list-group-item">
								{{ activity }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div> {# panel-body #}
		</div> {# panel #}
	</div> {# cols #}

{% endblock %}
