{% extends "structure/main.html" %}
{% load gravatar %}

{% block content %}

	<div class="col-md-3 col-sm-5">
		<div class="panel panel-default user-profile-panel">
			<div class="panel-heading text-bold">{{ user_profile.username }}</div>
			<div class="panel-body">
				<div class="user-profile-avatar">
					{% if user_profile.username == request.user.username %}
						<a href="{{ GRAVATAR_CHANGE_URL }}"
							data-toggle="tooltip" data-placement="bottom" class="js-tooltip"
							title="Zmień avatar na gravatar.com" target="_blank">
							{% gravatar_img_for_user user_profile %}
						</a>
					{% else %}
						{% gravatar_img_for_user user_profile %}
					{% endif %}
				</div>

				<div class="user-profile-info">
					<ul>
						{% if user_profile.profile.sex_visible %}
							<li>
								{{ user_profile.profile.sex_visible }}{% if user_profile.profile.age %},
									{{ user_profile.profile.age }} lat
								{% endif %}
							</li>
						{% elif user_profile.profile.age %}
							<li>Wiek: <strong>{{ user_profile.profile.age }} lat</strong></li>
						{% endif %}
						{% if user_profile.profile.height %}
							<li>Wzrost: <strong>{{ user_profile.profile.height }} cm</strong></li>
						{% endif %}
						{% if user_profile.profile.last_weight.0 %}
							<li>Waga: <strong>{{ user_profile.profile.last_weight.0 }} kg</strong></li>
						{% endif %}
						{% if user_profile.profile.bmi.0 %}
							<li>BMI: <strong>{{ user_profile.profile.bmi.0 }}</strong></li>
						{% endif %}
					</ul>
				</div> {# user-info #}
			</div> {# panel-body #}
		</div> {# panel #}
	</div> {# cols #}

	<div class="col-md-9 col-sm-7">
		<div class="panel panel-default user-profile-activity">
			<div class="panel-heading text-bold">Aktywność użytkownika</div>
			<div class="panel-body">
				Tu będzie aktywność użytkownika
			</div> {# panel-body #}
		</div> {# panel #}
	</div> {# cols #}

{% endblock %}
