<h1 class="text-center">{{ form.Meta.name }}</h1>

<form method="post" action="">{% csrf_token %}
	{% if error %}
		{{ error }}
	{% endif %}
	{% for field in form %}
		<div class="label-wrapper">
			<label for="{{ field.id_for_label }}" class="span5 text-right">{{ field.label }}</label>
			{{ field }}
			<span id="js-form-error-{{ field.name }}" class="label label-important hide">
			</span>
			{% for error in field.errors %}
				<span class="label label-important">
					{{ error }}
				</span>
			{% endfor %}
		</div>
	{% endfor %}
	<div class="form-button">
		<button type="submit">{{ form.Meta.button_text }}</button>
	</div>
</form>
