{% extends "structure/main.html" %}

{% load shared_filters %}

{% block content %}

	<h1 class="text-center">{{ form.Meta.name }}</h1>
	<div class="row">
	<form method="post" action="" class="form-horizontal col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
		{% csrf_token %}
		<fieldset>
			{% include "snippets/form_errors.html" %}

			{{ form.related_date|bootstrap:"datepicker" }}
			{{ form.weight|bootstrap:"text|%" }}
			{{ form.fat|bootstrap:"text|%" }}
			{{ form.water|bootstrap:"text|%" }}

			{% include "snippets/submit_button.html" %}
		</fieldset>
	</form>
	</div>

{% endblock %}
