<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>{% block title %}Tytuł strony{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}">
	</head>


	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Project name</a>

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav pull-right">
						{% if user.is_authenticated %}
							<li><a href="{% url 'logout' %}">Wyloguj</a><li>
						{% else %}
							<li class="active"><a href="{% url 'registration' %}">Rejestracja</a><li>
							<li><a href="{% url 'login' %}">Logowanie</a><li>
						{% endif %}
					</ul>
				</div>
			</nav>

			<div class="row">
				<div id="content" class="col-12 col-sm-12 col-lg-12">
					{% block content %}{% endblock %}
				</div>

				<div id="footer-wrapper">
					<div id="footer" class="col-12 col-sm-12 col-lg-12">
						Kopyrajt &copy; 2013 trolololo
					</div>
				</div>
			</div>
		</div> <!-- wrapper -->


		<!-- jQuery 2. Because fuck you IE < 9  -->
		<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		{% block js_import %}{% endblock %}
	</body>
</html>