{% load widget_tweaks %}
{% load shared_filters %}

<div class="form-group label-wrapper row" id="js-{{ field.name }}-group">
	{% include 'snippets/field_label.html' %}

	<div class="col-lg-7 col-7 col-sm-7
			{% if addon %} input-group input-append {% endif %}
			{% if addon == 'datepicker' %} date {% endif %}">

		{# textarea #}
		{% if field.field.widget|field_type == 'textarea' %}
			<textarea id="{{ field.id_for_label }}" name="{{ field.name }}"
				class="form-control" rows="5">{{ field.value|I_dont_want_None }}</textarea>

		{# selection #}
		{% elif field.field.widget|field_type == 'selection' or field.field.widget|field_type == 'special' %}
			{{ field|add_class:"form-control" }}

		{# checkbox #}
		{% elif field.field.widget|field_type == 'checkbox' %}
			<input name="{{ field.name }}"
				type="{{ field.field.widget|field_type }}"
				class="form-control form-{{ field.field.widget|field_type }} {{ field.field.widget.attrs.class }}"
				id="{{ field.id_for_label }}"
				{% if field.value %}
					checked
				{% endif %}>

		{# other #}
		{% else %}
			<input name="{{ field.name }}"
				type="{{ field.field.widget|field_type }}"
				class="form-control form-{{ field.field.widget|field_type }} {{ field.field.widget.attrs.class }}"
				id="{{ field.id_for_label }}"
				{% if addon == 'datepicker' %}
					{% if field.value %}
						{% with date=field.value|date:'d-m-Y' %}
							value="{% if date %}{{ date }}{% else %}{{ field.value }}{% endif %}"
						{% endwith %}
					{% endif %}
				{% else %}
					value="{{ field.value|I_dont_want_None }}"
				{% endif %}>

			{# addon #}
			{% if addon == 'datepicker' %}
				<span class="input-group-addon add-on datepicker-button">
					<i class="fa fa-calendar"></i>
				</span>
			{% elif addon == 'text' %}
				<span class="input-group-addon add-on">
					{{ addon_text }}
				</span>
			{% endif %}

		{% endif %}
	</div>

	{% include 'snippets/error_label.html' %}

</div>
