{% load shared_filters %}

<h1 class="text-center">{{ form.Meta.name }}</h1>
<div class="row">
<form method="post" action="" class="form-horizontal col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
	{% csrf_token %}
	<fieldset>
		{% include "snippets/form_errors.html" %}
		{% for field in form %}
			<div class="form-group label-wrapper row" id="js-{{ field.name }}-group">
				{% include "snippets/field_label.html" %}

				<div class="col-lg-7 col-7 col-sm-7">
					<input name="{{ field.name }}"
						type="{{ field.field.widget|field_type }}"
						class="form-control form-{{ field.field.widget|field_type }} {{ field.field.widget.attrs.class }}"
						id="{{ field.id_for_label }}"
						{% if field.value %}
							value="{{ field.value }}"
						{% endif %}>
				</div>

				{% include "snippets/error_label.html" %}
			</div>
		{% endfor %}
		{% include "snippets/submit_button.html" %}
	</fieldset>
</form>
</div>
