{% load compress %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% compress css %}
	<link rel="stylesheet" media="screen" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/datepicker.min.css' %}">
	<link rel="stylesheet" media="screen" href="{% static 'fullcalendar/dist/fullcalendar.css' %}">
	<link rel="stylesheet" media="screen" href="{% static 'css/style.less' %}" type="text/less">
{% endcompress %}
