{% extends "structure/main.html" %}

{% block content %}

<h1 class="text-center">{{ form.Meta.name }}</h1>

<form method="post" action="">{% csrf_token %}
	{% include "snippets/form_vertical_non_complex.html" %}
	<div class=" text-center">
		<button type="submit">{{ form.Meta.button_text }}</button>
		<br>
		<a href="{% url 'password_reset' %}"
			title="Resetuj hasło"
			class="text-small">
			Zapomniałeś hasła?
		</a>
		<br>
		<a href="{% url 'registration_activation_resend' %}"
			title="Wyślij ponownie link aktywacyjny"
			class="text-small">
			Wyślij ponownie link aktywacyjny
		</a>
	</div>
</form>

{% endblock %}
