html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#content {
    padding-top: 25px;
    padding-bottom:80px;   /* Height of the footer element */
}

#footer-wrapper {
    height:80px;
    width:100%;
    position:absolute;
    bottom:0;
    background-color: #f2f2f2;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-small {
    font-size: 80%;
}

.box-center {
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

/*
*   forms
*/

.label-wrapper {
    margin: 3px;
}

.label-wrapper label {
    display: inline;
    margin: 7px 5px 0;
}

button {
    margin: 5px 0;
}

.form-checkbox {
    width: 34px;
    height: 34px;
}

.clear-both {
    clear: both;
}

.row {
    margin-left: auto;
    margin-right: auto;
}