{% extends "structure/main.html" %}
{% load shared_filters %}
{% load static %}

{% block content %}
	<h1 class="text-center">{{ form.Meta.name }}</h1>
	<style type="text/css">
		{# TODO: style do .css #}
		#map-canvas { height: 250px }
	</style>
	<div id="map-canvas"></div>
	<div id="map-additional-info"></div>
	<form method="post" id="gpx-file-input-form" enctype="multipart/form-data" data-url="{% url 'upload_gpx' %}">
		<input type="file" name="gpx_file">
	</form>
	<a id="route-drawing-switch">trasa z palca</a>

	<div class="row">
	<form method="post" action="" class="form-horizontal col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
		<fieldset>
			{% csrf_token %}
			{{ form.route_id }}
			{{ form.name|bootstrap }}
			{{ form.sport|bootstrap }}
			{{ form.notes|bootstrap }}
			{{ form.distance|bootstrap:"text|km" }}
			{{ form.datetime_start|bootstrap:"datepicker" }}
			{{ form.time_start|bootstrap }}

			{# duration label #}
			<div class="form-group label-wrapper row">
				<div class="col-lg-3 col-3 col-sm-3 text-right">
					<label for="{{ form.duration_hours.id_for_label }}" class="control-label">Czas trwania</label>
				</div>

				{# duration fields #}
				<div class="col-lg-7 col-7 col-sm-7 input-group input-append">
					<input name="{{ form.duration_hours.name }}"
						type="text"
						class="form-control form-text"
						id="{{ form.duration_hours.id_for_label }}"
							value="{{ form.duration_hours.value }}"
					><span class="input-group-addon add-on">godz</span>
					<input name="{{ form.duration_mins.name }}"
						type="text"
						class="form-control form-text"
						id="{{ form.duration_mins.id_for_label }}"
							value="{{ form.duration_mins.value }}"
					><span class="input-group-addon add-on">min</span>
					<input name="{{ form.duration_secs.name }}"
						type="text"
						class="form-control form-text"
						id="{{ form.duration_secs.id_for_label }}"
							value="{{ form.duration_secs.value }}"
					><span class="input-group-addon add-on">sek</span>
				</div>

				{# errors #}
				<div class="col-lg-2 col-2 col-sm-2 text-right">
					<span id="js-form-error-{{ form.duration_secs.name }}" class="label label-important hidden"></span>
					{% if form.duration_secs.errors %}
						{% for error in form.duration_secs.errors %}
							<span class="label label-danger">{{ error }}</span>
						{% endfor %}
					{% elif form.duration_hours.errors %}
						{% for error in form.duration_hours.errors %}
							<span class="label label-danger">{{ error }}</span>
						{% endfor %}
					{% elif form.duration_mins.errors %}
						{% for error in form.duration_mins.errors %}
							<span class="label label-danger">{{ error }}</span>
						{% endfor %}
					{% endif %}
				</div>
			</div>

			{% include "snippets/submit_button.html" %}
		</fieldset>
	</form>
	</div>
{% endblock %}


{% block js_import %}
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_BROWSER_KEY }}&sensor=false">
	</script>
	<script src="{% static 'js/moment-timezone.min.js' %}"></script>
	<script src="{% static 'js/moment-timezone-data.min.js' %}"></script>
	<script src="{% static 'js/jquery.cookie.min.js' %}"></script>
	<script src="{% static 'js/map_handler.js' %}"></script>
	<script src="{% static 'js/routes_map.js' %}"></script>
{% endblock %}
